<div id="header" class="header-section">
	<!-- sticky-bar Starts-->
	<div class="sticky-bar-wrap">
		<div class="sticky-section">
			<div id="topbar-hold" class="nav-hold container">
				<nav class="navbar" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--=== Site Name ===-->
						<a class="site-name navbar-brand" href="#"><span>E</span>gret</a>
					</div>
					
					<!-- Main Navigation menu Starts -->
					<div class="collapse navbar-collapse navbar-responsive-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="current"><a href="#header">Home111</a></li>
							<li><a href="#section-feature">Features</a></li>
							<li><a href="#section-services">Services</a></li>
							<li><a href="#step-1">Work Flow</a></li>
							<li><a href="#section-screenshots">Screenshots</a></li>
							<li><a href="#section-pricing">Pricing</a></li>
							<li><a href="#section-download">Download</a></li>
						</ul>
					</div>
					<!-- Main Navigation menu ends-->
				</nav>
			</div>
		</div>
	</div>
	<!-- sticky-bar Ends-->
	<!--=== Header section Ends ===-->
	
	<!--=== Home Section Starts ===-->
	<div id="section-home" class="home-section-wrap center">
		<div class="section-overlay"></div>
		<div class="container home">
			<div class="row">
				<h1 class="well-come">Fly like Egret</h1>
				<div class="col-md-8 col-md-offset-2">
					<p class="intro-message">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet qui dolorem</p>
					<div class="home-buttons">
						<a href="#" class="fancy-button button-line button-white vertical">
							Learn more
							<span class="icon">
								<i class="fa fa-gear"></i>
							</span>
						</a>
						<a href="#" class="fancy-button button-line button-white zoom">
							Download now
							<span class="icon">
								<i class="fa fa-leaf"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--=== Home Section Ends ===-->
</div>