<section id="section-feature" class="feature-wrap">
	<div class="container features center">
		<div class="row">
			<div class="col-lg-12">
				<!--Features container Starts -->
				<ul id="card-ul" class="features-hold baraja-container">
					<!-- Single Feature Starts -->
					<li class="single-feature" title="Android">
						<img src="../assets/images/technologies/android.png" alt="" class="feature-image" /><!-- Feature Icon -->
						<h4 class="feature-title color-scheme">Android</h4>
						<p class="feature-text">
							Android is a mobile operating system developed by Google.
						</p>						
					</li>
					<!-- Single Feature Ends -->
					
					<!-- Single Feature Starts -->
					<li class="single-feature" title="Flutter">
						<img src="../assets/images/technologies/flutter.png" alt="" class="feature-image" /><!-- Feature Icon -->
						<h4 class="feature-title color-scheme">Flutter</h4>
						<p class="feature-text">
							Flutter is Google's UI toolkit for crafting beautiful, natively compiled applications for mobile, web, and desktop from a single codebase.
						</p>
					</li>
					<!-- Single Feature Ends -->
					
					<!-- Single Feature Starts -->
					<li class="single-feature" title="GraphQL">
						<img src="../assets/images/technologies/graphQL.png" alt="" class="feature-image" /><!-- Feature Icon -->
						<h4 class="feature-title color-scheme">GraphQL</h4>
						<p class="feature-text">
							GraphQL is a query language for APIs and a runtime for fulfilling those queries with your existing data.
						</p>
					</li>
					<!-- Single Feature Ends -->
					
					<!-- Single Feature Starts -->
					<li class="single-feature" title="Ionic">
						<img src="../assets/images/technologies/ionic.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
						<h4 class="feature-title color-scheme">Ionic</h4>
						<p class="feature-text">
							Ionic is the app development platform for web developers.
						</p>
					</li>
					<!-- Single Feature Ends -->
					
					<!-- Single Feature Starts -->
					<li class="single-feature" title="NodeJS">
						<img src="../assets/images/technologies/nodejs.png" alt="" class="feature-image" /><!-- Feature Icon -->
						<h4 class="feature-title color-scheme">NodeJS</h4>
						<p class="feature-text">
							Node.js is an open source server environment; Node.js is free; Node.js runs on various platforms
						</p>
					</li>
					<!-- Single Feature Ends -->
					
					<!-- Single Feature Starts -->
					<li class="single-feature" title="React JS">
						<img src="../assets/images/technologies/reactjs.png" alt="" class="feature-image" /><!-- Feature Icon -->
						<h4 class="feature-title color-scheme">React JS</h4>
						<p class="feature-text">
							React makes it painless to create interactive UIs.
						</p>
					</li>
					<!-- Single Feature Ends -->
					
					<!-- Single Feature Starts -->
					<li class="single-feature" title="Angular">
						<img src="../assets/images/technologies/angular.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
						<h4 class="feature-title color-scheme">Angular</h4>
						<p class="feature-text">
							One framework. Mobile & desktop.
						</p>
					</li>
					<!-- Single Feature Ends -->
				</ul>
				<!--Features container Ends -->
				
				<!-- Features Controls Starts -->
				<div class="features-control relative">
					<button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-prev" title="Previous" >
						<span class="icon">
							<i class="fa fa-arrow-left"></i>
						</span>
					</button>
					<button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-expand" title="Expand" >
						<span class="icon">
							<i class="fa fa-expand"></i>
						</span>
					</button>
					<button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-close" title="Collapse" >
						<span class="icon">
							<i class="fa fa-compress"></i>
						</span>
					</button>
					<button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-next" title="Next" >
						<span class="icon">
							<i class="fa fa-arrow-right"></i>
						</span>
					</button>
				</div>
				<!-- Features Controls Ends -->
			</div>
		</div>
	</div>
</section>