<!--=== Preloader section starts ===-->
<app-preloader></app-preloader>
<!--=== Preloader section Ends ===-->

<!--=== Header section Starts ===-->
<app-header></app-header>

<!--=== Download section Starts ===-->
<app-section-download></app-section-download>
<!--=== Download section Ends ===-->

<!--=== Features section Starts ===-->
<app-section-feature></app-section-feature>
<!--=== Features section Ends ===-->

<!--=== Services section Starts ===-->
<app-section-services></app-section-services>
<!--=== Services section Ends ===-->

<!--=== Step-1 section Starts ===-->
<app-step1></app-step1>
<!--=== Step-1 section Ends ===-->

<!--=== Step-2 section Starts ===-->
<app-step2></app-step2>
<!--=== Step-2 section Ends ===-->

<!--=== ScreenShots section Starts ===-->
<!-- <app-section-screenshots></app-section-screenshots> -->
<!--=== ScreenShots section Ends ===-->

<!--=== Testimonials section Starts ===-->
<!-- <app-section-testimonials></app-section-testimonials> -->
<!--=== Testimonials section Ends ===-->

<!--=== Pricing section Starts ===-->
<!-- <app-section-pricing></app-section-pricing> -->
<!--=== Pricing section Ends ===-->

<!--=== Subscribe section Starts ===-->
<!-- <app-section-subscribe></app-section-subscribe> -->
<!--=== Subscribe section Ends ===-->

<!--=== Contact section Starts ===-->
<app-section-contact></app-section-contact>
<!--=== Contact section Ends ===-->

<!--=== Footer section Starts ===-->
<app-section-footer></app-section-footer>
<!--=== Footer section Ends ===-->