<section id="section-download" class="download-wrap">
	<div class="container download center">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-md-10 col-md-offset-1 center section-title">
					<h3>About Us</h3>
				</div>
				<div class="download-buttons clearfix"> <!-- Download Buttons -->
					<p class="intro-message">At Asys technology extends with Advance system technology, we are the experts to
						provide the best suitable technology for all medium and large scale client. Highly focus
						to ensure the quality of product to be delivered to the end client.
						Our first motive to accomplish the client needs in an effective way by considering the
						time and cost. We are proud of being IT partners to grow as a team professionally by
						addressing the evolving needs for our customers and contributing our best towards their
						growth and success.
						</p>
					<p class="intro-message">We are focused on providing services around Advance Software Solutions. We help
						our customers implement these solutions through our skilled Mobile and Web based
						applications implementation, management services and maintenance services.
						</p>
					<p class="intro-message">Depending on customer needs, we deliver our services through a global delivery model
							using a blended team offshore.							
					</p>
					<!-- <a class="fancy-button button-line no-text btn-col large zoom" href="#" title="Download from App store">
						<span class="icon">
						<i class="fa fa-apple"></i>
						</span>
					</a>
					<a class="fancy-button button-line btn-col no-text large zoom" href="#" title="Download from App store">
						<span class="icon">
						<i class="fa fa-android"></i>
						</span>
					</a>
					<a class="fancy-button button-line btn-col no-text large zoom" href="#" title="Download from App store">
						<span class="icon">
						<i class="fa fa-windows"></i>
						</span>
					</a> -->
				</div>
			</div>
		</div>
	</div>
</section>