<section id="section-download" class="download-wrap">
	<div class="container download center">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-md-10 col-md-offset-1 center section-title">
					<h3>Download app</h3>
				</div>
				<div class="download-buttons clearfix"> <!-- Download Buttons -->
					<a class="fancy-button button-line no-text btn-col large zoom" href="#" title="Download from App store">
						<span class="icon">
						<i class="fa fa-apple"></i>
						</span>
					</a>
					<a class="fancy-button button-line btn-col no-text large zoom" href="#" title="Download from App store">
						<span class="icon">
						<i class="fa fa-android"></i>
						</span>
					</a>
					<a class="fancy-button button-line btn-col no-text large zoom" href="#" title="Download from App store">
						<span class="icon">
						<i class="fa fa-windows"></i>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>